[Desktop Entry]
Name=ECWolf
Comment=An ECWolf port for the Zero
Exec=run.dge %f
Terminal=false
Type=Application
StartupNotify=true
Icon=icon
Categories=games;
